{% extends "baseCasino.html.twig" %}

{% block title %}Game{% endblock %}

{% block main %}

<div class="presentationCasino">
<h1>Oj du förlorade alla dina pengar!</h1>


<div class="buttonPlay">
<h1>
<a href="{{ path('play21') }}">Spela igen?</a></h1>
</div>

{# {{ dump(sessionData) }} #}
</div>

{% endblock %}