@import "grid.css";

html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    line-height: 1.65;
    letter-spacing: 0.08rem;
}

body {
    background-color: hsl(210, 36%, 96%);
    color: hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size:0.875rem;
}

nav li {
    display: inline;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 0;
}

header {
    background-color: rgb(148, 148, 148);
    padding: 1.5rem;
    margin: 0;
}

header h1 {
    padding-left: 2.5rem;
}

main {
    margin: 5%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 0.1rem;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #FFF;
    height: 7rem;
    display: grid;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding-left: 6%;
}

nav a {
    color: hsl(205, 86%, 17%);
}

nav a:hover {
    color: hsl(206, 78%, 60%);
}

main {
    padding-left: 9.6%;
}

main {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    padding: 2rem;
    padding-left: 6rem;
}

.menu {
    position: fixed;
    left: 130px;
    top: 220px;
}

@media (max-width: 1150px) {
    .menu {
        display: none;
    }
}
