
@import "grid.css";
@import "card.css";


html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    line-height: 1.65;
    letter-spacing: 0.08rem;
}

body {
    background-color: hsl(210, 36%, 96%);
    color: hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size:0.875rem;
}

nav li {
    display: inline;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 0;
}

header {
    background-color: rgb(148, 148, 148);
    padding: 1.5rem;
    margin: 0;
}

header h1 {
    padding-left: 2.5rem;
}

main {
    margin: 5%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}



header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #FFF;
    height: 6.75rem;
    display: grid;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding-left: 6%;
    z-index: 1000;
}

nav a {
    color: hsl(205, 86%, 17%);
}


nav a:hover {
    color: hsl(206, 78%, 60%);
}


main {
    padding-left: 9.6%;
}

main {
    margin-top: 190px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    padding: 2rem;
    padding-left: 6rem;
}

.menu {
    position: fixed;
    left: 130px;
    top: 220px;
}

@media (max-width: 1150px) {
    .menu {
        display: none;
    }
}



input {
    font-size: 1em;
}



.die {
    font-size: 2em;
}

.presentation {
    margin-bottom: 20px;
}



.die {
    font-size: 3rem;
}

ul.dicearea {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.dicearea li {
    display: inline;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.flash-warning:before {
    content: "⚠";
}


.gitlink {
    margin-bottom: 80px;
}

.books {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
    
.book {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 20px;
    width: 75%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    
.book-details {
    display: flex;
    margin-top: 10px;
}
    
.book img {
    max-width: 100%;
    max-height: 300px;

        }
    
.book p {
    margin: 5px 0;
}

@media (max-width: 1250px) {
    .books {
        grid-column: 2/span 6;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
    }
}
@media (max-width: 750px) {
    .book {
        grid-column: 1/span 12;
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
    }
}


input[type="text"],
textarea {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type="file"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;

}


button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button:hover {
    background-color: #0056b3;
}