{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
<h1>Om</h1>
<p>Information om denna sida</p>
        <div class="protratt2">
        <img src="{{ asset('img/office.jpg') }}" alt="picture of jonas" width="600">
        </div>
{% endblock %}
