{% extends "base.html.twig" %}

{% block title %}Om{% endblock %}

{% block body %}
<div class="presentation">
<h1>Om MVC</h1><hr>
<p>Kursen MVC handlar i grunden om objektorienterad programmering i PHP, i kursen används ett ramverk som heter Symfony
vilket är ett av de mer populära ramverken i PHP världen. Ämnen som kommer behandlas runt detta är kodkvalitet, enhetstestning
och databaskopllingar med ORM. Kursansvarig är Mikael Roos.</p>
</div>
        <div class="protratt3">
        <img src="{{ asset('img/symfony2.png') }}" alt="picture of symfony" width="280">
        </div>
        <div class="protratt2">
        <img src="{{ asset('img/php-scaled.jpg') }}" alt="picture of php" width="780">
        </div>
        <div class="gitlink">
        <ul><h3>
        <li><a href="https://github.com/dbwebb-se/mvc/tree/main">MVC github repo</a></li>
        <br><li><a href="https://github.com/Bjarnehall/MVC-Jonas-Bjarnehall">jobe23 github repo</a></li>
        </h3>
        </ul>
        </div>
{% endblock %}
