{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
<div class="presentationlucky">
<h2>{{ greeting }}
Idag är det {{ dayOfWeekSwe }} </h2><h4>
<br><br>dagens world of warcraft: <br> </h4> <h2>{{ wordForToday }}</h2>
</div>
<div class="protratt4">
<h2>Random husdjur</h2>
<img src="{{ asset('img/' ~ petImage) }}" alt="Pet of the Day" width="560">
</div>
{% endblock %}
