{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
        <div class="presentation">
        <h1>Lite kort om mig</h1><hr>
        <p>

            Hej! mitt namn är Jonas Bjarnehall och jag studerar Webbprogrammering via Blekinge tekniska högskola. Jag bor ute 
            i skogen intill naturområdet Hökensås, här kan jag tack vare satellitinternet få en bra uppkoppling och 
            hänga med i undervisningen. Jag bor i en stuga tillsammans med min sambo Hanna, hunden Kiara samt våra katter Oliver 
            och Ester.<br>
            Utöver studierna så arbetar jag som kyltekniker vilket jag gjort de senaste åren. På min fritid sitter jag gärna och 
            skapar musik med min MPC eller så sitter jag gärna vid datorn och spelar World of warcraft. Jag ett stort
            intresse för mat och lägger gärna ner flera timmar på att få till den perfekta tomatsåsen till pizzan som grillas på
            uteplatsen, förutom detta så åker jag även skidor,  kör motorcykel och nyligen även börjat köra vanlig 
            trampcykel och har som mål att göra vätterrundan 2026.
        </p>
        </div>
        <div class="protratt3">
        <img src="{{ asset('img/bildpåmig.jpg') }}" alt="picture of jonas" width="250">
        </div>
        <div class="protratt2">
        <img src="{{ asset('img/cykel.jpg') }}" alt="picture of cykel" width="380">
        </div>

{% endblock %}
