{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block body %}
<div class="menu">
                <h3>Gå till</h3>            
            <ul> 
                <p><li><a href="#kmom01"><p>kmom01</p></a></li></p>
            </ul>
</div>
<div class="presentation">
<h1>Redovisningstexter</h1>
<br>
<h2 id="kmom01">kmom01</h2>
<br>
<p>Mina förkunskaper kring objekt orienterad programmering är begränsad. Jag har stött på begreppet när jag lärt mig om
JavaScript där jag lärde mig att det var ett sätt att skriva mer strukturerad kod och var särskilt användbart när man 
bygger arrayer som ska användas av funktioner.<br>
En klass i PHP är en typ av kategori medans ett objekt är en underkategori eller tillhör en kategori. Till exempel så
kan en klass vara "ost" så kan "prästost" vara ett objekt. Objektet i sin tur kan ha olika attribut så som exempel 
lagringstid.
<br>I artiklen PHP the right way så tyckte jag delen med namesspaces var intressant och förklarade på ett bra sätt
som jag kunde förstå, liknelsen till filstruktur i en windows maskin var bra jämförelse. Jag har även fått en bättre 
förståelse varför vi använder templates och hur composer fungerar. Mycket av vad som behandlades i artiklen förstod jag 
inte fullt ut men ser fram emot att det ska klarna vidare i kursen. 
<br>
Att arbeta med ramverket Symfony har varit kul, mycket känns igen från tidigare kurser såsom arbetet med express och pico.
Jag får en känsla av att Symfony är ett mer "komplett" ramverk, och jag gillar strukturen med routes och templates.
<br>
Min TIL för detta kursmoment är att få lära känna ramverket Symfony och ta upp PHP programmeringen ifrån Webtec kursen
igen!
</p>
</div>
{% endblock %}

