{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
<div class="presentation">
<h1>Redovisningstexter</h1>
<br>
<h2>Kmom01</h2>
<br>
<p>Mina förkunskaper kring objekt orienterad programmering är begränsad. Jag har stött på begreppet när jag lärt mig om
JavaScript där jag lärde mig att det var ett sätt att skriva med strukturerad kod.</p>
</div>
{% endblock %}
