{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block body %}
<div class="menu">
                <h3>Gå till</h3>            
            <ul> 
                <p><li><a href="#kmom01"><p>kmom01</p></a></li></p>
                <p><li><a href="#kmom02"><p>kmom02</p></a></li></p>
                <p><li><a href="#kmom03"><p>kmom03</p></a></li></p>
            </ul>
</div>
<div class="presentation">
<h1>Redovisningstexter</h1>
<br>
<h2 id="kmom01">kmom01</h2>
<br>
<p>Mina förkunskaper kring objekt orienterad programmering är begränsad. Jag har stött på begreppet när jag lärt mig om
JavaScript där jag lärde mig att det var ett sätt att skriva mer strukturerad kod och var särskilt användbart när man 
bygger arrayer som ska användas av funktioner.<br>
En klass i PHP är en typ av kategori medans ett objekt är en underkategori eller tillhör en kategori. Till exempel så
kan en klass vara "ost" så kan "prästost" vara ett objekt. Objektet i sin tur kan ha olika attribut så som exempel 
lagringstid.
<br>I artiklen PHP the right way så tyckte jag delen med namesspaces var intressant och förklarade på ett bra sätt
som jag kunde förstå, liknelsen till filstruktur i en windows maskin var en bra jämförelse. Jag har även fått en bättre 
förståelse varför vi använder templates och hur composer fungerar. Mycket av vad som behandlades i artiklen förstod jag 
inte fullt ut men ser fram emot att det ska klarna vidare i kursen. 
<br>
Att arbeta med ramverket Symfony har varit kul, mycket känns igen från tidigare kurser såsom arbetet med express och pico.
Jag får en känsla av att Symfony är ett mer "komplett" ramverk, och jag gillar strukturen med routes och templates.
<br>
Min TIL för detta kursmoment är att få lära känna ramverket Symfony och ta upp PHP programmeringen ifrån Webtec kursen
igen!
</p>
<br>
<h2 id="kmom02">kmom02</h2>
<br>
<p>
Kmom02 har varit både utmanande och roligt, att få programmera en kortlek och få utmanas i det logiska tänkandet
uppskattas även om det varit svårt! Jag har fått en betydligt djupare förståelse för objektorienterad programmering och 
hur man bygger upp ett program med klasser. Att få repetera och bygga vidare på kunskaperna från databasen då vi ritade UML
diagram kändes nyttigt och gav mig en djupare förståelse. Ramverket Symfony gillar jag starkt och är något jag ser som ett 
potentiellt verktyg att använda i mitt framtida yrkesliv.<br>

Objektorienterade konstruktioner så som arv, komposition, interface och traits används i huvudsak för att skapa kod som 
är lättare att underhålla och inte behöver upprepas i större utsräckning. Jag försöker fortfarande lära mig dessa begrepp, 
men kan beskriva dem enligt följande.<br>
Arv: Tillåter en klass att använda metoder från andra klasser.
Komposition: Ett alternativ till arv med inkludering av objekt från andra klasser som en egenskap i en ny klass.
Interface: Definerar krav som klasser ska uppfylla genom vissa metoder.
Trait: Liknas vid arv men är mer fristående och kan användas av/delas mellan flera klasser.<br><br>

Jag löste uppgiften genom att först skapa tre klasser: Card, CardHand och DeckOfCards som alla har de metoder som behövs för
att skapa en kortlek (metoderna beskrivs i mitt uml diagram). Jag fortsatte senare med att skapa route och template till den 
sorterade kortleken och när jag fått den att fungera jobbade jag vidare med CSS för att kunna presentera korten visuellt vilket
var ganska knepigt och tidskrävande men jag är väldigt nöjd med resultatet. Senare fortsatte jag att utföra ett krav i taget tills 
uppgiften var löst enligt samma tillvägagångssätt. Jag är över lag nöjd med uppgiften men jag funderar på om det kanske finns ett smidigare
sätt att lösa alla routes på framöver då det blir ganska mycket kod i denna fil.<br>

Att välja ut en TIL för detta kursmoment är svårt då det varit så mycket men en sak jag fått kläm på är hur och varför man egentligen
använder DocBlocks vilket varit lite förvirrande för mig tidigare så får nog säga DocBlocks!
</p>

<h2 id="kmom03">kmom03</h2>

<p>
Redovisningstext kmom03

När vi nu i kmom03 tagit oss vidare och implementerat ett spel utav tidigare gjord kortlek känns det som att säcken är knuten, en helhet 
har skapats i  ramverket symfony.</p>
<p>
Jag tror att arbete med flödesdiagram och pseudokod är bra men om det hjälpt mig i detta kursmoment är jag osäker på. För att ha ordentlig 
nytta av det känner jag att detta är något jag behöver öva på och först när jag utvecklats mer i mitt tänkande kring problemlösning och 
även blivit säkrare i min programmering kommer detta arbetssätt belöna sig ordentligt.</p>
<p>
Under en av föreläsningarna som handlade om algoritmer och problemlösning nämndes en Polya som jag nyfiket kollade upp och såg en gammal 
föreläsning av på youtube. Denna gav mig en ny insikt över hur man kan ta sig an problemlösning och vad som egentligen menas med att förenkla 
ett problem, detta är något jag kommer ta med mig vidare i utbildningen och försöka implementera i mitt arbete för att så småningom bli en 
bättre programmerare.</p>
<P>
Uppgiften löste jag genom att göra det rekommenderade spelet 21. Jag läste noga på om reglerna innan arbetet påbörjades och gjorde sedan upp 
en skiss och skrev ner anteckningar/pseudokod för hur jag skulle implementera spelet. Jag byggde ut mitt program med en ny klass Player 
tillsammans med en ny controller Game21 och försökte sedan att återanvända så mycket kod som möjligt från mina tidigare klasser.</p>
<p>
Överlag gick uppgiften smärtfritt att lösa men det var några moment som jag fick arbeta extra mycket med. När spelaren skulle dra sitt andra 
kort efter det första kortet var draget hade jag problem och även när ess skulle värderas olika beroende på vad spelarens summa var uppe i 
var en utmaning att få fungera. Jag gjorde även en annan style med css för själva spelsidan för att spelupplevelsen skulle kännas lite 
roligare. Jag är nöjd med hur mitt spel fungerar även om jag inte har hunnit implementera de valfria kraven som skulle kunnat göra spelet 
roligare.</p>

Övningsuppgiften med att skapa en egen linters var intressant och jag har rättat till min kod till en nivå som jag själv ansåg rimlig i detta 
skede. Jag har använt mig av phpstan level 5 och phpmd. Jag har en rapport som jag är nöjd med på denna nivå med undantag ifrån ett par 
else statements som jag inte lyckats göra på annat sätt. I fortsatta kursmoment ser jag fram emot att kunna klara en högre nivå och kanske 
även kunna bli av med mina else statements.</p>
<p>
Detta kursmomentet har varit kul, tidskrävande och utvecklande jag är nöjd med vad jag åstadkommit även om jag ser förbättringspotential i 
både kod och hur mitt program fungerar i praktiken. Något jag kommer ta med mig från denna gång som en TIL är att jag börjat utveckla ett 
tankesätt kring problemlösning som jag inte tidigare haft!</p>


</div>
{% endblock %}

