{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}

<h1>Välkommen till MVC Bibliotek!</h1><br><hr>

<h2><a href="{{ path('library') }}">Våra böcker</a></h2>

{% endblock %}

