{% extends "baseproject.html.twig" %}

{% block title %}Adventure Game
{% endblock %}


{% block body %}
<div class="about">
	<h2>Projekt examination MVC</h2>
    <p>I mitt projekt har jag valt att implementera ett äventyrsspel. Proejektet tar form 
    i en objectorienterad kodbas via ramverket Symfony och använder sig av ytterligare tekniker som
    ORM doctrine, PHPunit, Scrutinizer och PHP metrics.</p>
    <p>Spelet handlar om att stoppa ett datavirus från att sprida sig och rädda skolans databas.
    Spelaren möts av ledtrådar i de olika rummen och får lösa problemet att komma in i serverrummet
    där spelaren sedan kan rädda databasen. Det finns olika ledtrådar/objekt att plocka upp i 
    spelet och lösningar som behövs för att vinna spelet. För mer information om projektet läs vidare under README på git hub.
    </p>
<h2>
<li>
<a href="https://github.com/Bjarnehall/MVC-Jonas-Bjarnehall/tree/main" target="_blank" style="color: #ffcccc;">GitHub</a>
</li>
<li>
	<a href="{{ path('project_about_database') }}"target="_blank" style="color: #ffcccc;">Om Databasen</a>
</li>
</h2>

</div>
<div class="spaceblock"></div>
{% endblock %}

