{# templates/adventure_items.html.twig #}
<div class="adventures">
	<ul>
		{% for adventure in adventures %}
			<li>
				<strong></strong>
				{{ adventure.notes }}<br>
				<strong></strong>
				{{ adventure.codes }}<br>
				<strong></strong>
				{{ adventure.keys }}
			</li>
		{% else %}
			<li>No adventures found.</li>
		{% endfor %}
	</ul>
</div>
