{# templates/adventure_items.html.twig #}
<div class="adventures">
	<ul>
		<h3>Clues</h3>
		{% for adventure in adventures %}
			<li>
				<strong></strong>
				<p>{{ adventure.notes|raw }} |
				<strong></strong>
				{{ adventure.codes }}</p>
			</li>
		{% else %}
			<li>Nothing here</li>
		{% endfor %}
	</ul>
</div>
