{% extends "baseproject.html.twig" %}

{% block title %}Adventure Game
{% endblock %}


{% block body %}
	<div class="gameBox" style="background-image: url('{{ asset('img/cabin.png') }}');">
        <div class="container">
            <div class="doorForm">
                <h2>The DEVICE</h2>
                <form method="post">
                    <div class="form-group">
                        <label for="inputString">Enter a string:</label>
                        <input type="text" id="inputString" name="inputString">
                    </div>
                    <button type="submit" class="btn btn-primary">Decrypt message</button>
                </form>
            </div>
        </div>
		<div class="container">
			<div class="buttonBackToSecond">
				<a href="{{ path('project_secondroom')}}">
					<i class="fa-solid fa-right-to-bracket"></i>
				</a>
			</div>
		</div>
		<div class="container">
			<div class="buttonInventory">
				<div
					class="inventory">
					{# Include the adventure list partial template #}
					{% include 'project/adventure_items.html.twig' with {'adventures': adventures} %}
				</div>
			</div>
{# {% if rot13String is not null %}
	<p>Transformed String:
		{{ rot13String }}</p>
{% endif %} #}

		{% endblock %}

