{% extends "baseproject.html.twig" %}

{% block title %}Adventure Game
{% endblock %}


{% block body %}
	<div class="gameBoxHome" style="background-image: url('{{ asset('img/cabin.png') }}');">

		<div class="container">
			<div class="buttonBackToSecond">
				<a href="{{ path('project_secondroom')}}">
					<i class="fa-solid fa-right-to-bracket"></i>
				</a>
			</div>
		</div>
		<div class="container">
			<div class="buttonInventory">
				<div
					class="inventory">
					{% include 'project/adventure_items.html.twig' with {'adventures': adventures} %}
				</div>
			</div>
			<div
				class="inventory">
				{% include 'project/adventure_items.html.twig' with {'adventures': adventures} %}
			</div>
<div class="container">
	<div class="buttonDevice">
		<a href="{{ path('project_device') }}">
		<i class="fa-solid fa-microchip"></i>
		</a>
	</div>
</div>

		{% endblock %}

