{% extends "baseproject.html.twig" %}

{% block title %}Adventure Game
{% endblock %}


{% block body %}
	<div class="about">
		<h2>Fusk till spelet</h2>
		<p>
        För att klara spelet behöver du ta dig in i serverummet genom att använda lösenordet "mumintrollet"<br>
        För att klara spelet måste reboot disken i serrverummet plockas upp.<br>
        Prata med förövaren och interagera med datorn för att sedan ladda reboot disken och vinna spelet!<br>
        <br>
         Om man vill lista ut lösenordet som tänkt plocka då upp en ledtråd från papperskorgen i andra rummet till vänster från start.
        Gå vidre in i rummet till vänster och öppna garderoben och använd verktyget som finns i kartongen skriv sedan in notering från tidigare ledtråd
        och få fram lösenordet.
		</p>
	</div>
	<div class="spaceblock"></div>
{% endblock %}

