{% extends "baseproject.html.twig" %}

{% block title %}Adventure Game
{% endblock %}


{% block body %}
{# <div class="gameBoxHome" style="background-image: url('{{ asset('img/finalone.png') }}');"> #}
<div class="gameBoxHome end-content" style="background-image: url('{{ asset('img/finalone.png') }}');">

<div class="container">
	<div class="endPromt">
	<h1>The server is safe and you saved the database!<br>
	You also made a new friend on the way sometimes people need a
	second chance you did well.</h1>
	</div>
<div class="container">
	<div class="HintEnd">
	<a href="{{ path('project_clear') }}"><h1>Starta om</h1></a>
	</div>
</div>
</div>
{% endblock %}


