{% extends "baseproject.html.twig" %}

{% block title %}Adventure Game
{% endblock %}


{% block body %}
<div class="gameBoxHome" style="background-image: url('{{ asset('img/homepage.png') }}');">

<div class="container">
	<div class="buttonStart">
		<a href="{{ path('project_start') }}">
			PLAY GAME
		</a><br>
		<a href="{{ path('project_clear') }}">Reset game
		</a>
	</div>
</div>
{% endblock %}
