{% extends "baseproject.html.twig" %}

{% block title %}Enter Password
{% endblock %}

{% block body %}
<div class="gameBox" style="background-image: url('{{ asset('img/startGame.png') }}');">

	<div class="container">
		<div class="doorForm">
		<h2>Enter Password to Access Server</h2>
		<form method="post">
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" class="form-control" required>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		</div>
	</div>
<div class="inventory">
	{% include 'project/adventure_items.html.twig' with {'adventures': adventures} %}
</div>

</div>

{% endblock %}


