{% extends "baseproject.html.twig" %}

{% block title %}Adventure Game
{% endblock %}


{% block body %}
	<div class="gameBoxHome" style="background-image: url('{{ asset('img/serveroomdeco2.png') }}');">
		<div class="container">
			<div class="buttonServerComputer">
				<a href="{{ path('project_server_final_two') }}">
					<i class="fa-solid fa-power-off"></i>
				</a>
			</div>
			<div class="container">
				<div class="buttonOutServer">
					<a href="{{ path('project_start') }}">

						<i class="fa-solid fa-right-to-bracket"></i>
					</a>
				</div>
			</div>
			<div class="container">
				<div class="inventory">
					{% include 'project/adventure_items.html.twig' with {'adventures': adventures} %}
				</div>
			</div>
			<div class="container">
				<div class="dialogserverOne">
					<p>Oh no please I dont want to go to Jail! I regret what<br>
					I have done so bad... I guess I deserve the worst...</p>
				</div>
			</div>
			<div class="container">
				<div class="buttonPickUpCd">
					<a href="{{ path('adventure_add_cdSecond_two') }}">
					<i class="fa-solid fa-compact-disc"></i>
					</a>
				</div>
			</div>
</div>
{% endblock %}

