{% extends "baseproject.html.twig" %}

{% block title %}Adventure Game
{% endblock %}


{% block body %}
	<div class="gameBox" style="background-image: url('{{ asset('img/serverroomcharacter.png') }}');">
		<div class="container">
			<div class="buttonServer">
				<a href="{{ path('project_end') }}">
					<i class="fa-solid fa-power-off"></i>
				</a>
			</div>
			<div class="buttonRedDoor">
				<a href="{{ path('project_start') }}">

					<i class="fa-solid fa-right-to-bracket"></i>
				</a>
			</div>

		</div>

	</div>
{% endblock %}



