{% extends "baseproject.html.twig" %}

{% block title %}Adventure Game
{% endblock %}


{% block body %}
<div class="gameBoxHome" style="background-image: url('{{ asset('img/startroom2.png') }}');">


<div class="container">
	<div class="buttonServerEnter">
		<a href="{{ path('project_server') }}"><i class="fa-solid fa-right-to-bracket"></i>
		</a>
	</div>
</div>
<div class="container">
	<div class="buttonRedDoor">
		<a href="{{ path('project_secondroom') }}"><i class="fa-solid fa-right-to-bracket"></i>
		</a>
	</div>
</div>
<div class="container">
	<div class="clueQuoteOne">
		<p>Hello there, there is a student that has failed the Database course and think he's 
		been graded wrongfully. He has taken to revenge and locked himself into the serverroom,
		he plans to load a script that erases everyones work so no grades
		will count.<br>
		Man it feels so bad I worked really hard on this course I dont want it to be a waste.
		If you want to help we must stop him before its to late! I already tried to get into the
		serverroom but its locked you need to find a way in.</p>
	</div>
</div>
<div class="container">
	<div class="Hint">
		<h2>Hint</h2>
		<p>Hover over the character In the hat!</p>
	</div>
</div>

<div
	class="inventory">
	{% include 'project/adventure_items.html.twig' with {'adventures': adventures} %}
</div>
{% endblock %}
