{% extends "baseproject.html.twig" %}

{% block title %}Adventure Game
{% endblock %}


{% block body %}
<div class="gameBox" style="background-image: url('{{ asset('img/startroomcharacter.png') }}');">


<div class="container">
	<div class="buttonServer">
		<a href="{{ path('project_server') }}"><i class="fa-solid fa-right-to-bracket"></i>
		</a>
	</div>
	<div class="buttonRedDoor">
<a href="{{ path('project_secondroom') }}">

			<i class="fa-solid fa-right-to-bracket"></i>
		</a>
	</div>

</div>
{% endblock %}


