{% extends "baseproject.html.twig" %}

{% block title %}Adventure Game
{% endblock %}


{% block body %}
<div class="gameBox" style="background-image: url('{{ asset('img/startGame.png') }}');">


<div class="container">
	<div class="buttonServerEnter">
		<a href="{{ path('project_server') }}"><i class="fa-solid fa-right-to-bracket"></i>
		</a>
	</div>
</div>
<div class="container">
	<div class="buttonRedDoor">
		<a href="{{ path('project_secondroom') }}"><i class="fa-solid fa-right-to-bracket"></i>
		</a>
	</div>
</div>
<div class="container">
	<div class="clueQuoteOne">
		<h4>Hello there!<br>A madman is about to spread a dangerous computer virus.
		He wants to delete the schools database just becouse he did not get
		the grade he wanted. Man I dont want my education to be wasted!</h4>
	</div>
</div>
<div
	class="inventory">
	{% include 'project/adventure_items.html.twig' with {'adventures': adventures} %}
</div>


{% endblock %}





