{% extends "baseproject.html.twig" %}

{% block title %}Adventure Game
{% endblock %}


{% block body %}
	<div class="gameBox" style="background-image: url('{{ asset('img/office2.png') }}');">

<div class="container">
	<div class="buttonBackToSecond">
		<a href="{{ path('project_secondroom')}}">
			<i class="fa-solid fa-right-to-bracket"></i>
		</a>
	</div>
</div>
<div class="container">
	<div class="buttonOpenCabin">
		<a href="{{ path('project_opencabin')}}">
			<i class="fa-solid fa-right-to-bracket"></i>
		</a>
	</div>
</div>
</div>
<div class="container">
	<div class="buttonInventory">
		<div
			class="inventory">
			{# Include the adventure list partial template #}
			{% include 'project/adventure_items.html.twig' with {'adventures': adventures} %}
		</div>
	</div>
	<div
		class="inventory">
		{# Include the adventure list partial template #}
		{% include 'project/adventure_items.html.twig' with {'adventures': adventures} %}
	</div>
{% endblock %}


